{% extends "base.html" %} 
{% block title %} Create Route {% endblock %}
{% block content %} 
{% load static %}
<!DOCTYPE html>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHCOFGMEHpCt1wW9nh9ghaTjujDVswFoM&libraries=places"></script>
<script>
    function initializeAutocomplete() { // JS Section
        var startInput = document.getElementById('start'); //grabs info from each field
        var endInput = document.getElementById('end');

        var options = {
            types: ['geocode'],  // Suggest geographical locations only.
            componentRestrictions: { country: 'ca' }  // If we want to restrict country
        };

        new google.maps.places.Autocomplete(startInput, options); // processes it with the api
        new google.maps.places.Autocomplete(endInput, options);
    }

    window.onload = initializeAutocomplete;
</script>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
        <title>Create Route</title>
    </head>
    <body>
        <h1 class = "logo">RoadQuest</h1>
        <form method="post" action="/route/">
            {% csrf_token %}
            <div class="center">
                <button type="submit" name="Go" class="gobutton">GO</button>
            </div>
            <div class = "locationbox">
                <input type="text" id="start" name="start" required placeholder="From" class="inputbox" 
                oninvalid="this.setCustomValidity('Enter Start Location')"
                oninput="this.setCustomValidity('')"/>
                <input type="text" id="end" name="end" required placeholder="To" class="inputbox" 
                oninvalid="this.setCustomValidity('Enter Destination')"
                oninput="this.setCustomValidity('')"/>
            </div>
        </form>
    </body>
</html>

{% endblock %}