body {
  background-image: url("routeImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.logo {
  font-family: "Monomaniac One", sans-serif;
  font-size: 14em;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 90px;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px; */
  user-select: none;
  text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.gobutton {
  font-family: "poppins", sans-serif;
  font-size: 72px;
  font-weight: 700;
  background: transparent;
  color: black;
  border: none;
  border-radius: 10px;
  width: 360px;
  height: 95px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-top: 6em;
  user-select: none;
}

.gobutton:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 420px;
  right: -5px;
  transition: 0.5s;
}
.gobutton:hover {
  padding-right: 50px;
  padding-left:8px;
  background-color: white;
}

.gobutton:hover:after {
  opacity: 1;
  right: 70px;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.locationbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40em;
  margin-top: 6em;
}

.destinationbox {
  display: flex;
  position: relative;
}

.inputbox {
  font-family: "poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  border: 0;
  width: 12em;
  height: 60px;
  outline: 0;
  padding: 0 0.714em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(black, black, black, 0.3);
  user-select: none;
  background: white;
  border: 2px solid black;
  border-radius: 10px;


    &::placeholder {
      color: black;
  }

}